{%  extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div >
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
      <legend>
        <h1> Join us! </h1>
      </legend>
      {{forms|crispy}}
      {{dp|crispy}}
    </fieldset>
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <div >
    <small class="form-text text-muted">Already have an account? <a href={% url "login" %}>SignIn</a> </small>
  </div>
</div>
{%endblock %}
