{%  extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src={{ user.profile.dp.url }}>
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  </div>
<div >
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
      <legend>
        <h1> Update profile </h1>
      </legend>
      {{forms|crispy}}
      {{dps|crispy}}
    </fieldset>
    <div>
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>
  <div >
    <small class="form-text text-muted">Don't have an account? <a href={% url "register"%}>SignUp</a> </small>
  </div>
</div>
{%endblock %}
